<!-- search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<header>
  <h1 class="onboarding">Onboarding</h1>
  <nav>
      <a class='nav_link' href="/map">Карта</a>
      <a href="/team" class='nav_link'>Команда</a>
      <a href="/events" class='nav_link'>Мероприятия</a>
      <a href="/search" class='nav_link'>Поиск сотрудников</a>
      <a href="/main" class='nav_link'>Главная</a>
  </nav>
</header>
<body>
  <div class="container">
    <h2 class="text-center mt-5">Поиск сотрудника</h2>
    <form action="/search" method="post">
      <label for="first_name">Фамилия сотрудника:</label>
      <input type="text" id="first_name" name="first_name" required>
      <button type="submit" class="btn btn-primary">Найти</button>
    </form>

    {% if employee %}
      <div class="mt-3">
        <h3>Результаты поиска:</h3>
        {% for emp in employee %}
            <ul>
                <li>ID: {{ emp[0] }}</li>
                <li>Last Name: {{ emp[1] }}</li>
                <li>First Name: {{ emp[2] }}</li>
                <li>Position: {{ emp[3] }}</li>
                <li>Experience: {{ emp[4] }}</li>
                <li>Age: {{ emp[5] }}</li>
                <li>Salary: {{ emp[6] }}</li>
                <li>Phone Number: {{ emp[7] }}</li>
                <li>Address: {{ emp[8] }}</li>
                <li>Email: {{ emp[9] }}</li>
                <li>Tasks:
                  <ul class="task">
                    {% for task in emp[10] %}
                      <li>{{ task }}</li>
                    {% endfor %}
                  </ul>
                </li>
            </ul>
        {% endfor %}
      </div>
    {% else %}
        <p>No employee found with the given first name.</p>
    {% endif %}

  </div>