
<!-- index.html -->

{% extends 'base.html' %}

{% block title %}Добро пожаловать на главную страницу{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="text-center mt-5">Добро пожаловать на главную страницу</h2>
    <ul>
        <li><a href="/login">Страница входа</a></li>
        <li><a href="/map">Карта офиса</a></li>
        <li><a href="/team">Наша Команда</a></li>
        <li><a href="/events">Мероприятия офиса</a></li>
        <li><a href="/search">Поиск сотрудника</a></li>
    </ul>
  </div>
{% endblock %}