{% extends 'base.html' %}

{% block title %}Наша Команда{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="text-center mt-5">Наша Команда</h2>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="path/to/photo1.jpg" class="card-img-top" alt="Фото Сотрудника 1">
          <div class="card-body">
            <h5 class="card-title">Имя Сотрудника 1</h5>
            <p class="card-text">Должность Сотрудника 1</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <img src="path/to/photo2.jpg" class="card-img-top" alt="Фото Сотрудника 2">
          <div class="card-body">
            <h5 class="card-title">Имя Сотрудника 2</h5>
            <p class="card-text">Должность Сотрудника 2</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <img src="path/to/photo3.jpg" class="card-img-top" alt="Фото Сотрудника 3">
          <div class="card-body">
            <h5 class="card-title">Имя Сотрудника 3</h5>
            <p class="card-text">Должность Сотрудника 3</p>
          </div>
        </div>
      </div>
      <!-- Добавьте блоки для других сотрудников по аналогии -->
    </div>
  </div>
{% endblock %}